{% extends 'modelo.html '%}

{% load static %}


{% block conteudo %}
    <h3>Listas de atividade</h3>
    <a href="{% url 'cadastrar-atividade' %}" class="btn btn-primary btn-sm">Adicionar atividade</a>
    <hr>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Numero</th>
                <th>Descrição</th>
                <th>Pontos</th>
                <th>Detalhes</th>
                <th>Campos</th>
                <th>Usuario</th>
                <th>Arquivo</th>
                <th>Opção</th>             
            </tr>

            {% for object in object_list %}
                <tr>
                    
                    <td>{{ object.pk }}</td>
                    <td>{{ object.numero }}</td>
                    <td>{{ object.descricao }}</td>
                    <td>{{ object.pontos  }}</td>
                    <td>{{ object.detalhes }}</td>
                    <td>{{ object.campo }}</td>
                    <td>{{ object.usuario }}</td>                   
                    <td><a href="{{ object.arquivo.url|default_if_none:'#' }}">Ver</a></td>
                    <!--quando n envia imagem da um erro, pesquisar depois-->
                    
                    <td>
                        <a href="{% url 'editar-atividade' object.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                        <a href="{% url 'excluir-atividade' object.pk %}" class="btn btn-danger btn-sm"  title="Excluir">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhuma atividade registrado</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}