{% extends 'modelo.html '%}

{% load static %}


{% block conteudo %}

<h3>Listas de atividade</h3>
<a href="{% url 'cadastrar-atividade' %}" class="btn btn-primary btn-sm">Adicionar atividade</a>
<hr>


<form action="?" method="GET">
    <input type="text" class="p-1 border" name="nome" id="" value="{{ request.GET.nome  }}" autocomplete="off" placeholder="Descrição">
    <button type="submit" class="btn btn-primary">Buscar</button>
    <a href="{% url 'listar-atividade' %}" class="btn btn-ligth">Limpar</a>
    <br><br>
</form>

<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar">
        
        <thead>
            <tr>
                <th>#</th>
                <th>Numero</th>
                <th>Descrição</th>
                <th>Pontos</th>
                <th>Detalhes</th>
                <th>Campos</th>
                <th>Usuario</th>
                <th>Arquivo</th>
                <th>Opção</th>             
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
                <tr>
                    
                    <td>{{ object.pk }}</td>
                    <td>{{ object.numero }}</td>
                    <td>{{ object.descricao }}</td>
                    <td>{{ object.pontos  }}</td>
                    <td>{{ object.detalhes }}</td>
                    <td>{{ object.campo }}</td>
                    <td>{{ object.usuario }}</td>
                    {% if object.arquivo %}                             
                        <td><a href="{{ object.arquivo.url }}">Ver</a></td>
                    {% else %}          
                        <td></td>
                    {% endif %}    
                    <!--quando n envia imagem da um erro, pesquisar depois-->
                    
                    <td>
                        <a href="{% url 'editar-atividade' object.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                        <a href="{% url 'excluir-atividade' object.pk %}" class="btn btn-danger btn-sm"  title="Excluir">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhuma atividade registrado</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            //alert("importação ok")
            $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });

        });
    </script>
{% endblock %}